<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Roboto+Slab:wght@500;900&display=swap" rel="stylesheet">
    
    <title>Facilitador ML</title>
</head>
<body>
    <div class="container">
        <div class="container-left">
            <nav class="navbar">
                <menu class="menu">
                    <ul class="items">
                        <a class="link active" href="/"><li class="item"><ion-icon name="home-outline"></ion-icon>Home</li></a>
                        <a class="link" href="/search"><li class="item"><ion-icon name="search-outline"></ion-icon>Buscar</li></a>
                    </ul>
                </menu>
            </nav>
        </div>
        <div class="container-middle">
            
            <main class="main">
                {{{ body }}}
            </main>
            
        </div>
        
    </div>
</body>
</html>