<div class="container-busca">
    <div class="h1-container">
        <h1>Insira a busca abaixo</h1>
    </div>
    <form class="form" action="/search" method="POST">
        <div class="option">
            <h2>Opções:</h2>
            <div id="options">
                <label>
                    <input type="radio" name="option" value="1" checked>
                    IMDB
                </label>
            </div>
        </div>
        <div class="option">
            <h2>Layout:</h2>
            <div id="options">
                <label>
                    <input type="radio" name="layout" value="1" checked>
                    Layout 1
                </label>
                <label>
                    <input type="radio" name="layout" value="2" >
                    Layout 2
                </label>
            </div>
        </div>
        <div class="cod">
            <label for="search">Digite os nomes abaixo:</label>
            <textarea id="search" placeholder="batma, vingadores, homem de ferro" name="cod" cols="30" rows="8" required> </textarea>
            <div class="busca">
                <input class="submit" type="submit" value="BUSCAR">
            </div>
        </div>
    </form>
    
</div>