.container {
  background-color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container-left {
  background-color: transparent;
  display: none;
}

.container .container-middle .header {
  display: none;
}

.container .container-middle .main {
  background-color: transparent;
}

.container .container-middle .footer {
  display: none;
}

.container .container-right {
  display: none;
}

.container-movie {
  background-image: url("/src/images/bg.png");
  height: 1920px;
  width: 1080px;
  max-height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border: 3px solid white;
}

.container-movie #imagem-container {
  width: 550px;
  margin-top: 48%;
  margin-bottom: 0px;
  padding: 10px;
}

.container-movie #imagem-container #logo {
  position: absolute;
  left: 20%;
  top: 22%;
  width: 700px;
  opacity: 0.8;
}

.container-movie #imagem-container #logo img {
  width: 100%;
  height: 100%;
}

.container-movie #imagem-container .image {
  height: 750px;
}

.container-movie #imagem-container .image img {
  border-radius: 80px;
  width: 100%;
  height: 100%;
}

.container-movie #title-container {
  width: 100%;
  margin-bottom: 5rem;
}

.container-movie #title-container #title {
  margin: 0 auto;
  background-color: white;
  width: 80%;
  padding: 3rem 1rem;
  text-align: center;
  border-radius: 10px;
}

.container-movie #title-container #title span {
  font-size: 4rem;
  color: black;
}

.container-movie #plot-container {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
}

.container-movie #plot-container #plot {
  margin: 0 auto;
  width: 80%;
  padding: 1rem;
  text-align: center;
}

.container-movie #plot-container #plot span {
  font-size: 4rem;
  color: white;
}

.container-movie #genres-container {
  margin-top: 58px;
  width: 100%;
}

.container-movie #genres-container #genres {
  margin-left: 30%;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.container-movie #genres-container #genres .genre {
  font-size: 3.5rem;
  color: white;
}

.container-movie2 {
  background-image: url("/src/images/bg2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1920px;
  width: 1080px;
  max-height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border: 3px solid white;
}

.container-movie2 #imagem-container2 {
  width: 600px;
  margin-top: 24%;
  margin-bottom: 140px;
}

.container-movie2 #imagem-container2 .image2 img {
  width: 100%;
  height: 100%;
}

.container-movie2 #title-container2 {
  width: 100%;
  margin-bottom: 10rem;
}

.container-movie2 #title-container2 #title2 {
  margin: 0 auto;
  width: 80%;
  padding: 1rem;
  text-align: center;
}

.container-movie2 #title-container2 #title2 span {
  font-size: 5rem;
  color: black;
}

.container-movie2 #plot-container2 {
  width: 100%;
  min-height: 175px;
  max-height: 175px;
}

.container-movie2 #plot-container2 #plot2 {
  margin: 0 auto;
  width: 77%;
  padding: 1rem;
  text-align: center;
}

.container-movie2 #plot-container2 #plot2 span {
  font-size: 3rem;
  color: white;
}

.container-movie2 #genres-container2 {
  margin-top: 185px;
  width: 100%;
}

.container-movie2 #genres-container2 #genres2 {
  margin-left: 40%;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.container-movie2 #genres-container2 #genres2 .genre2 {
  font-size: 3.2rem;
  color: white;
}
/*# sourceMappingURL=final.css.map */