.container {
  background-color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container-left {
  background-color: transparent;
  display: none;
}

.container .container-middle .header {
  display: none;
}

.container .container-middle .main {
  background-color: transparent;
}

.container .container-middle .footer {
  display: none;
}

.container .container-right {
  display: none;
}

.container-body-shopee {
  background-color: #f8db5f;
  height: 1520px;
  width: 1080px;
  max-height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.container-body-shopee .container-final-shopee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
}

.container-body-shopee .container-final-shopee .imagem-container-shopee {
  margin-top: 15%;
  width: 85%;
  border-radius: 30px;
  background-color: white;
  padding: 2rem 2rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  height: 80%;
  position: relative;
}

.container-body-shopee .container-final-shopee .imagem-container-shopee .imagem-shopee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem auto 5rem auto;
  height: 60%;
  min-height: 60%;
}

.container-body-shopee .container-final-shopee .imagem-container-shopee .imagem-shopee .img-shopee {
  margin: auto;
  width: 100%;
  height: 80%;
}

.container-body-shopee .container-final-shopee .imagem-container-shopee .info-shopee {
  display: block;
  height: 40%;
  margin-top: -4rem;
}

.container-body-shopee .container-final-shopee .imagem-container-shopee .info-shopee .indicado-shopee {
  display: inline-block;
  position: relative;
}

.container-body-shopee .container-final-shopee .imagem-container-shopee .info-shopee .indicado-shopee span {
  position: absolute;
  background-color: orangered;
  color: wheat;
  font-size: 3rem;
  left: 0;
  top: 15px;
  padding: 5px 10px;
}

.container-body-shopee .container-final-shopee .imagem-container-shopee .info-shopee .indicado-shopee .nomeProduto-shopee {
  text-align: left;
  font-size: 5rem;
  margin-bottom: 1rem;
  font-weight: 900;
  text-indent: 160px;
}

.container-body-shopee .container-final-shopee .imagem-container-shopee .info-shopee .precos-shopee {
  display: block;
  margin-top: 4rem;
  left: 0;
}

.container-body-shopee .container-final-shopee .imagem-container-shopee .info-shopee .precos-shopee .pNovo-shopee {
  font-size: 6rem;
  font-weight: 900;
  color: orangered;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container-body-shopee .container-final-shopee .imagem-container-shopee .info-shopee .precos-shopee .pAntigo-shopee {
  display: block;
  text-decoration: line-through;
  font-size: 3.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #424242;
}

.container-body-shopee .container-final-shopee .classification-shopee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-body-shopee .container-final-shopee .classification-shopee .stars {
  font-size: 3rem;
}

.container-body-shopee .container-final-shopee .classification-shopee .stars .nota {
  margin-left: 1rem;
}

.container-body-shopee .container-final-shopee .classification-shopee .vendido span {
  font-size: 3rem;
}

.container-body-shopee .container-final-shopee .classification-shopee .share-shopee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 2rem;
}

.container-body-shopee .container-final-shopee .classification-shopee .share-shopee span {
  font-size: 3rem;
}
/*# sourceMappingURL=search-end-shopee-status.css.map */